<%- include ("header") -%>

<h1 style="text-align:center">Chi sono</h1>

<p style="padding:4 rem"> Ciao a tutti! Mi chiamo Marco Pellegrini e lavoro come UX/Ui e web designer presso un'azienda
    che si occupa di nanotecnologia applicata alla medicina! Ho iniziato ad addentrarmi ancora più in profondità nello studio
    dei prodotti digitali attraverso lo studio della programmazione front-end. Questa web app è uno dei progetti creati
    durante il corso %> </p>

    <%- include ("footer") -%>




